<div id="page_wrapper">
	<div id="profile_image">
		<%= image_tag "profile.jpeg" %> 
	</div>	
	<div id="content">
		<h1>It's Mr. Stick Figure</h1>
		<p>Lorem ipsum dolor amet pok pok irony scenester gochujang. Fingerstache banh mi helvetica, migas vape direct trade godard. Iceland narwhal bushwick, normcore heirloom vinyl hell of selfies pabst direct trade. Tofu keytar live-edge lo-fi fanny pack before they sold out. Lyft yr readymade pour-over, air plant vexillologist fingerstache lo-fi green juice viral roof party glossier. Celiac deep v migas, post-ironic roof party 3 wolf moon VHS la croix austin chia. Snackwave cornhole schlitz, readymade hexagon pabst stumptown shabby chic DIY retro yr put a bird on it la croix.</p>
		
	</div>

</div>